<!DOCTYPE html>
<html>
<head>
    <title>Quiz 7</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <script type="text/javascript" src="http://kozea.github.com/pygal.js/latest/pygal-tooltips.min.js"></script>
{#    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"/>#}
</head>
<body>
    <div>
        <a href="/q1">Question1</a>
        <a href="/q2">Question2</a>
        <a href="/q3">Question3</a>
        <a href="/question9_execute">Question4</a>
        <br><br>
        <h2>Swetha Vijaya Raghavan</h2>
        <h2>1001551229</h2>
    </div>
</body>
</html>